.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  color: #162b4d;
  border-radius: 20px;
}

.container-fluid{
  background-color: #ebedf0;
  color: #162b4d;
  border-style: outset;
  border-color: lightgray;
  border-radius: 20px;
  border-width: 3px;
}

button{
  transition-duration: 1000ms;
  color: white;
  background-color: black;
  border-color: #162b4d;
  border-width: 2px;
  border-radius: 25%;
}

button:hover{
  transition-duration: 1000ms;
  color: black;
  background-color: white;
  border-radius: 25%;
}
