body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(https://trello-backgrounds.s3.amazonaws.com/SharedBackground/1440x1920/ae8a972091724d393a80e164281e6f93/photo-1601653241037-317543cbf2de.jpg);
  background-size: cover;
  background-position-y: -20em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  justify-content: center;
  padding: 10pt;
  text-decoration: underline;
}

.gradient-custom {
  background: #746c55;
  background: -webkit-linear-gradient(to right, rgb(76, 203, 17), rgba(37, 117, 252, 1));
  background: linear-gradient(to right, rgb(67, 117, 46), rgba(37, 117, 252, 1))
}

.center-layout{
      padding: 10px;
}

.container{
  background-color: #c7cac6;
}
